* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

html,
body {
  background: #093C5D;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  margin: 0;
  padding: 0;
  border: none;
  text-align: initial;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btn.primary {
  background: #093C5D;
  border: none;
}
